// loading...
#framework-app-root {
  height: 100%;
  width: 100%;
  background: #eaeff3;

  > main {
    height: 100%;
    width: 100%;

    > section {
      width: 100%;
      height: 100%;
      display: flex;

      .ro-menu-wrap {
        background: #001529;
      }

      .ro-main-wrap {
        flex-grow: 1;
        padding: 20px;
      }
    }
  }
}
